---
layout: default
title: Sur nous
permalink: about/
lang: fr
---

<section class="intro-text about-us-content pd-tb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Reconnaître nos circonstances uniques</h3>
        <p>
          Pendant des années, nous nous sommes posé ces questions : Comment
          pouvons-nous cultiver des producteurs et des publics pour des
          recherches numériques de haute qualité ? Comment pouvons-nous garantir
          que ce travail soit reconnu et valorisé au sein du monde académique ?
          Comment promouvoir la collaboration et un accès équitable aux
          ressources, en comblant le fossé entre les chercheurs caribbéanistes
          dans les institutions nord-atlantiques et les communautés qu'ils
          desservent ? Surtout, comment mettre en œuvre des solutions durables à
          long terme pour préparer la prochaine génération de chercheurs
          numériques caribéens, alors même que nous opérons dans un
          environnement inégal ?
        </p>
        <p>
          Nos réponses ont varié en termes de nature et de portée, mais les
          défis persistent. De nombreux collègues continuent de travailler dans
          des silos définis par des frontières nationales, linguistiques et
          disciplinaires. Le terrain reste inégal : certains chercheurs
          bénéficient des avantages d'institutions bien dotées en ressources,
          tandis que d'autres peinent à obtenir un soutien minimal. Cet
          déséquilibre se traduit par un accès inégal à des infrastructures
          essentielles, telles qu'internet à haut débit, une électricité fiable,
          et des espaces de travail sûrs. Relever ces défis nécessite des
          solutions adaptées à nos besoins et circonstances spécifiques.
        </p>

        <h3>Travailler en collectif</h3>
        <p>
          Au CDSC, nous croyons que nos efforts collectifs peuvent avoir un
          impact significatif. Notre travail repose sur des valeurs et des
          projets communs, tant établis que nouveaux. Le CDSC soutient diverses
          initiatives pédagogiques, y compris les programmes de
          <a href="https://createcaribbean.org/" target="_blank"
            >Create Caribbean Research Institute</a
          >
          et de l'<a href="https://www.uprrp.edu/" target="_blank"
            >Université de Porto Rico – Rio Piedras</a
          >, notre école d'été, des micro-subventions, ainsi que les conférences
          annuelles Caribbean Digital. En tant que collectif, nous entendons que
          ces stratégies fonctionnent en dialogue les unes avec les autres,
          créant une communauté d'experts qui forment les apprenants des
          humanités numériques dans la Caraïbe avec un ensemble commun de
          compétences, de principes éthiques et d'objectifs à long terme.
          Ensemble, ces efforts contribueront à cultiver les talents
          interdisciplinaires nécessaires non seulement dans les études
          caribéennes, mais aussi dans la région caribéenne au sens large.
        </p>

        <h3>Servir la Caraïbe et ses diasporas</h3>
        <p>
          Notre travail bénéficie directement à plusieurs groupes. Premièrement,
          aux nouvelles générations de chercheurs et de professionnels du
          patrimoine, équipés de nouveaux outils et méthodes pour faire
          progresser les études caribéennes au 21ème siècle. Deuxièmement, la
          région caribéenne elle-même profitera de nouvelles expressions de
          créativité et de résolution de problèmes à une époque où les défis
          mondiaux sont nombreux. Enfin, le monde académique bénéficie des
          recherches et des pratiques uniques émergeant des étudiants,
          chercheurs et praticiens caribéens.
        </p>

        <h3>Notre équipe</h3>
        <p>
          Notre équipe comprend des professeurs, des chercheurs, des étudiants
          et des administrateurs des États-Unis et de la Caraïbe qui contribuent
          à réaliser et à élargir notre vision. Nous collaborons avec des
          artistes caribéens et des organisations communautaires pour donner vie
          à des projets numériques et à des initiatives artistiques.
        </p>
      </div>
    </div>
    <!--  /.row -->

    <div class="clearfix"></div>
    <!--  /.clearfix -->
  </div>
  <!--  /.container -->
</section>
<!--  /.about-us-content -->

{% include team.html %} {% include organizations.html %} {% include
sponsors.html %}
