---
layout: default
title: Quienes Somos
permalink: about/
lang: es
---

<section class="intro-text about-us-content pd-tb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Reconociendo nuestras circunstancias únicas</h3>
        <p>
          Durante años, nos hemos preguntado: ¿cómo podemos cultivar productores
          y audiencias de investigaciones digitales de alta calidad? ¿Cómo
          podemos asegurar que este trabajo sea reconocido y valorado dentro del
          ámbito académico? ¿Cómo podemos promover la colaboración y el acceso
          igualitario a los recursos, cerrando la brecha entre los
          investigadores caribeños en la academia del Atlántico Norte y las
          comunidades a las que servimos? Y lo más importante, ¿cómo podemos
          implementar soluciones sostenibles a largo plazo para preparar a la
          próxima generación de académicos digitales caribeños, especialmente
          cuando operamos en un terreno desigual?
        </p>
        <p>
          Nuestras respuestas han variado en naturaleza y alcance, pero los
          desafíos persisten. Muchos colegas todavía trabajan en silos definidos
          por límites nacionales, lingüísticos y disciplinarios. El terreno
          sigue siendo desigual: algunos académicos disfrutan de las ventajas de
          instituciones con buenos recursos, mientras que otros luchan con un
          apoyo mínimo. Este desequilibrio se traduce en un acceso desigual a la
          infraestructura esencial, desde Internet de banda ancha y electricidad
          confiable hasta espacios de trabajo seguros. Abordar estos desafíos
          requiere soluciones que reflejen nuestras necesidades y circunstancias
          únicas.
        </p>

        <h3>Trabajando como un Colectivo</h3>
        <p>
          En el CECD, creemos que nuestros esfuerzos colectivos pueden crear un
          impacto significativo. Nuestro trabajo se basa en valores y proyectos
          compartidos, tanto establecidos como nuevos. El CECD apoya varias
          iniciativas pedagógicas, incluidos los programas del
          <a href="https://createcaribbean.org/" target="_blank"
            >Create Caribbean Research Institute</a
          >
          y la
          <a href="https://www.uprrp.edu/" target="_blank"
            >Universidad de Puerto Rico-Río Piedras</a
          >, nuestra escuela de verano, micro-becas y las conferencias anuales
          de The Caribbean Digital. Como Colectivo, queremos que estas
          estrategias funcionen en diálogo entre sí, fomentando una comunidad de
          expertos que capaciten a los estudiantes de humanidades digitales del
          Caribe con un conjunto compartido de habilidades, principios éticos y
          objetivos a largo plazo. Juntos, estos esfuerzos ayudarán a cultivar
          el talento interdisciplinario necesario no solo en los estudios del
          Caribe sino en la región del Caribe en general.
        </p>

        <h3>Al servicio del Caribe y sus diásporas</h3>
        <p>
          Nuestro trabajo beneficia directamente a varios grupos. Primero, las
          cohortes crecientes de académicos y profesionales están siendo
          equipados con nuevas herramientas y métodos para hacer avanzar los
          Estudios del Caribe hacia el siglo XXI. Segundo, la propia región del
          Caribe se beneficia de nuevas expresiones de creatividad y resolución
          de problemas en una era en la que los desafíos globales se ciernen
          sobre nosotros. Por último, el mundo académico se beneficia de la
          erudición y la práctica únicas que surgen de los estudiantes,
          investigadores y profesionales caribeños.
        </p>

        <h3>Nuestro equipo</h3>
        <p>
          Nuestro equipo incluye profesores, investigadores, estudiantes y
          administradores de los Estados Unidos y el Caribe que ayudan a
          ejecutar y expandir nuestra visión. Nos asociamos con artistas y
          organizaciones comunitarias del Caribe para dar vida a proyectos
          digitales e iniciativas artísticas.
        </p>
      </div>
    </div>
    <!--  /.row -->

    <div class="clearfix"></div>
    <!--  /.clearfix -->
  </div>
  <!--  /.container -->
</section>
<!--  /.about-us-content -->

{% include team.html %} {% include organizations.html %} {% include
sponsors.html %}
