---
layout: default
title: About Us
permalink: about/
lang: en
---

<section class="intro-text about-us-content pd-tb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <p>
      The Caribbean Digital Scholarship Collective (CDSC) supports the growth and development of digital humanities scholarship, training, and infrastructure for the Caribbean and its diasporas. From summer schools, conferences, microgrants, and training programs, the CDSC programs promise to generate cohorts of students and practitioners from across the Caribbean and the US that will advance the development of the Caribbean Digital scholarship and the Digital Humanities at large. A generous <a href="https://mellon.org/grants/grants-database/grants/barnard-college/2106-10809/" target="_blank">Mellon Foundation grant</a> makes these offerings and associations possible.</p>
    <h3>Working as a Collective</h3>
    <p>
      At the CDSC, we believe that the sum of our efforts can create an enormous impact. Our Collective rests upon shared values embodied in linked projects and praxes, both existing and to-be-developed. The CDSC will create and expand different pedagogical initiatives: the rich academic and internship programs from Create Caribbean in Dominica and the University of Puerto Rico-Rio Piedras, the traveling multi-institutional summer school, the micro-grants program, and The Digital Caribbean annual conferences. As a Collective, we mean for these strategies to function in dialogue with one another, fostering a community of expertise-holders who train Caribbeanist DH learners with a standard set of skills, ethical principles, and long-term objectives. The different learning components of the CDSC will help us prepare the much-needed mixed-methods talent that we need not only in Caribbean Studies itself but in the Caribbean region as a whole.</p>
    <p>
      The beneficiaries of the grant are clear. First, rising cohorts of scholars and memory professionals will be empowered with new tools and methods to steward Caribbean Studies well into the 21st century. Second, the Caribbean region itself will benefit from the injection of new expressions of creativity and problem-solving in a century when forces larger than the geographical scope of the Caribbean threaten to engulf it. Finally, the scholarly world will benefit from the unique forms of scholarship and practice that emerge from the Caribbean life and culture. We have seen all of these benefits––nascent and explicit––in our under-supported efforts over the years, and we look forward to seeing them grow with Mellon’s support. The challenges of the 21st century demand no less of us as educators.</p>
    <h3>Our Commitment</h3>
    <p>
      Having worked together for over a decade, we are thrilled by the possibilities that the Mellon grant represents for realizing and sustaining the networks and bonds that have long undergirded our current and forthcoming projects. These efforts are, in important ways, co-constitutive and interdependent, yet, in the absence of reliable resources, they have in the past been necessarily punctual.</p>
    <p>
      The Mellon grant that undergirds our Collective promises to be more than a patch—instead, it will help us build future structures that can continue beyond the grant. Our growth within the following years will not only help us attract investment from institutions in and outside the Caribbean for the non-tuition generating parts of our model but also in developing programs that can transition to tuition models at the end of the grant.</p>
      </div>
    </div>
    <!--  /.row -->

    <div class="clearfix"></div>

    <!--  /.clearfix -->
  </div>
  <!--  /.container -->
</section>

{% include team.html %} {% include organizations.html %} {% include
sponsors.html %}
