---
layout: white_default
title: "About Us"
---

{% include page_header.html %}

<section class="about-us-content pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <figure>
                    <img src="/assets/images/about-code-image.jpg" alt="about code" />
                </figure>
            </div><!--  /.col-md-6 -->
            <div class="col-md-6">
                <h5 class="text-uppercase">Welcome To Litmus</h5>
                <h2><strong>We work to provide great web solutions in all digital areas.</strong></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div><!--  /.col-md-6 -->
        </div><!--  /.row -->
        
        <div class="clearfix"></div><!--  /.clearfix -->
        <div class="pd-tb-30"></div><!--  /.pd-tb-45 -->

        <div class="row">
            <div class="col-md-6">
                <div id="accordion" class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-title" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
                                First Accordion Slide
                            </a>
                        </div>
                        <div id="collapseOne" class="card-block collapse show">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="card-header">
                            <a class="card-title collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
                                Second Accordion Slide
                            </a>
                        </div>
                        <div id="collapseTwo" class="card-block collapse">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="card-header">
                            <a class="card-title collapsed" href="#collapseThree" data-toggle="collapse" data-parent="#accordion">
                                Third Accordion Slide
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="card-block">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--  /.col-md-6 -->
            <div class="col-md-6">
                <div class="skill-progress">
                    <div class="skill-bar" data-percentage="89%">
                        <h4 class="progress-title-holder">
                            <span class="progress-title">Graphics Design</span>
                            <span class="progress-wrapper">
                                <span class="progress-mark">
                                    <span class="percent"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div><!-- /.skill-bar -->
                    <div class="skill-bar" data-percentage="96%">
                        <h4 class="progress-title-holder">
                            <span class="progress-title">HTML/CSS</span>
                            <span class="progress-wrapper">
                                <span class="progress-mark">
                                    <span class="percent"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div><!-- /.skill-bar -->
                    <div class="skill-bar" data-percentage="80%">
                        <h4 class="progress-title-holder">
                            <span class="progress-title">Marketing</span>
                            <span class="progress-wrapper">
                                <span class="progress-mark">
                                    <span class="percent"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div><!-- /.skill-bar -->
                    <div class="skill-bar" data-percentage="85%">
                        <h4 class="progress-title-holder">
                            <span class="progress-title">Adwords</span>
                            <span class="progress-wrapper">
                                <span class="progress-mark">
                                    <span class="percent"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div><!-- /.skill-bar -->
                </div>
            </div><!--  /.col-md-6 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section><!--  /.about-us-content -->

{% include our_team.html %}
