---
layout: default
title: Quienes Somos
permalink: about/
lang: es
---

<section class="intro-text about-us-content pd-tb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Trabajando en equipo</h3>
        <p>
          La combinación de nuestros instrumentos financiados por la fundación
          Andrew W. Mellon nos permitirá dinamizar las comunidades que ya están
          trabajando en estudios digitales del Caribe, mientras nutrirá el
          talento futuro. Nuestro modelo depende de nuestra capacidad como
          colectivo para conectar estos diferentes instrumentos entre sí. La
          escuela de verano del CDSC, las micro subvenciones y los programas
          académicos prometen generar cohortes de estudiantes y profesionales,
          de todo el Caribe y los EE. UU., que pueden formar vínculos de por
          vida, como programas similares en otros lugares han demostrado. El
          componente de aprendizaje nos ayudará a capacitar al muy necesario
          talento de métodos mixtos que necesitamos no solo en Estudios del
          Caribe en sí, sino en la región del Caribe en su conjunto.
        </p>
        <p>
          Los desafíos del siglo XXI no exigen menos de nosotros como
          educadores. La subvención Andrew W. Mellon que respalda nuestras
          promesas colectivas promete ser más que un parche; más bien, nos
          ayudará a construir estructuras futuras que pueden continuar más allá
          de la subvención, no solo ayudándonos a atraer inversiónes internas en
          instituciones y fuera del Caribe para aquellas partes que no generan
          matrícula dentro de nuestro modelo, sino también en el desarrollo de
          programas que pueden hacer la transición a modelos de matrícula al
          final del conceder. Los beneficiarios de la subvención son claros:
          primero, cohortes crecientes de académicos y profesionales de la
          memoria estarán empoderados con nuevas herramientas y métodos para
          administrar los Estudios del Caribe hasta bien entrado el siglo XXI.
          En segundo lugar, la propia región se beneficiará de la inyección de
          nuevos expresiones de creatividad y resolución de problemas, en un
          siglo en el que fuerzas más grandes que el alcance geográfico del
          Caribe amenazan con engullirlo. En última instancia, el mundo
          académico en general se beneficiará de la formas únicas de
          investigación y práctica que surgen de la particularidades de la vida
          y la cultura del Caribe. Hemos visto todos estos beneficios,
          incipientes y explícitos, en nuestros esfuerzos con apoyo insuficiente
          durante los años, y esperamos verlos crecer con el apoyo de la
          fundación Mellon.
        </p>
        <p>
          De hecho, después de haber trabajado juntos durante más de una década,
          permanecemos encantados por las posibilidades que presenta esta
          subvención para realizar y sostener las redes y los lazos que durante
          mucho tiempo han apuntalado nuestra proyectos, tanto actuales como
          previstos. Estos esfuerzos son importantes formas co-constitutivas e
          interdependientes, sin embargo, en ausencia de recursos fiables, en el
          pasado han sido necesariamente puntuales. Nuestro Colectivo se basa en
          un conjunto de valores compartidos incorporados en estos proyectos y
          praxis vinculados, tanto existentes como por desarrollar. Nuestras
          iniciativas pedagógicas (el verano itinerante multiinstitucional
          colegio; nuestras micro subvenciones para proyectos e ideas nacientes;
          la pasantía de pos-grado y el programa de residencia para subgraduados
          en la Universidad de Puerto Rico; y el Instituto de Investigación
          Create Caribbean incubadora de pasantes) están diseñados para
          funcionar en diálogo entre sí, fomentando una comunidad de expertos
          que entrenan Estudiantes caribeños en las Humanidades Digitales en un
          conjunto común de habilidades, principios éticos y objetivos a largo
          plazo.
        </p>
      </div>
    </div>
    <!--  /.row -->

    <div class="clearfix"></div>
    <!--  /.clearfix -->
  </div>
  <!--  /.container -->
</section>
<!--  /.about-us-content -->

{% include team.html %} {% include organizations.html %} {% include
sponsors.html %}
