---
layout: default
title: About Us
permalink: about/
lang: en
---

<section class="intro-text about-us-content pd-tb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Recognizing our Unique Circumstances</h3>
        <p>
          For years, we’ve asked ourselves: How can we cultivate producers and
          audiences of high-quality digital scholarship? How can we ensure that
          this work is recognized and valued within academia? How can we promote
          collaboration and equal access to resources, bridging the gap between
          Caribbeanist researchers in the North Atlantic academy and the
          communities they serve? Most importantly, how can we implement
          long-term, sustainable solutions to prepare the next generation of
          Caribbean digital scholars, especially when we are operating in an
          unequal terrain?
        </p>
        <p>
          Our answers have ranged in nature and scope, yet challenges persist.
          Many colleagues still work in silos defined by national, linguistic,
          and disciplinary boundaries. The terrain remains uneven—some scholars
          enjoy the advantages of well-resourced institutions, while others
          struggle with minimal support. This imbalance translates into unequal
          access to essential infrastructure, from broadband internet and
          reliable electricity to safe working spaces. Addressing these
          challenges requires solutions that reflect our unique needs and
          circumstances.
        </p>

        <h3>Working as a Collective</h3>
        <p>
          At the CDSC, we believe that our collective efforts can create a
          significant impact. Our work is grounded in shared values and
          projects, both established and new. CDSC supports various pedagogical
          initiatives, including programs from
          <a href="https://createcaribbean.org/" target="_blank"
            >Create Caribbean Research Institute</a
          >
          and the
          <a href="https://www.uprrp.edu/" target="_blank"
            >University of Puerto Rico-Rio Piedras</a
          >, our summer school, micro-grants, and The Caribbean Digital annual
          conferences. As a Collective, we mean for these strategies to function
          in dialogue with one another, fostering a community of experts who
          train Caribbean DH learners with a shared set of skills, ethical
          principles, and long-term goals. Together, these efforts will help
          cultivate the interdisciplinary talent needed not only in Caribbean
          Studies but in the broader Caribbean region.
        </p>

        <h3>Serving the Caribbean and its Diasporas</h3>
        <p>
          Our work directly benefits several groups. First, rising cohorts of
          scholars and memory professionals equipped with new tools and methods
          to advance Caribbean Studies into the 21st century. Second, the
          Caribbean region itself will gain from fresh expressions of creativity
          and problem-solving in an era when global challenges loom large.
          Finally, the academic world benefits from the unique scholarship and
          practice emerging from Caribbean students, researchers, and
          practitioners.
        </p>
        <h3>Our Team</h3>
        <p>
          Our team includes professors, researchers, students, and
          administrators across the United States and the Caribbean who help
          execute and expand our vision. We partner with Caribbean artists and
          community organizations to bring digital projects and art initiatives
          to life.
        </p>
      </div>
    </div>
    <!--  /.row -->

    <div class="clearfix"></div>

    <!--  /.clearfix -->
  </div>
  <!--  /.container -->
</section>

{% include team.html %} {% include organizations.html %} {% include
sponsors.html %}
