---
layout: default
title: Grantees UPR DH
permalink: grantees-upr/
---

<!-- <section class="intro-text about-us-content pd-tb-90"> -->
<section class="page-header page-header bg-snow">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title center-title no-border">
          {% if site.active_lang == "es" %} Beneficiarios {% elsif
          site.active_lang == "fr" %} Bénéficiaires {% else %} Grantees {% endif
          %}
        </h2>

        <h4>UPR Caribe Digital</h4>

        <!-- <p>
          Welcome to the list of grantees who have benefited from our program.
        </p> -->
      </div>
    </div>
    <!--  /.row -->

    <div class="clearfix"></div>

    <!--  /.clearfix -->
  </div>
  <!--  /.container -->
</section>
<section class="pd-t-60-b-90">{% include grantee-list-upr.html %}</section>
<div class="pd-tb-15"></div>
{% include related_portfolios_light.html %}
