---
layout: default
name: index
permalink: /
lang: es
---

{% include banner.html %}

<section class="intro-content pd-t-90-b-60 mrb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-uppercase">Bienvenidos</h2>
        <p>El <strong>Colectivo para el Estudio del Caribe Digital</strong> (CDSC por sus siglas en inglés) es una iniciativa que agrupa investigadores en humanidades digitales de varias instituciones de educación superior, así como a grupos comunitarios, para gestionar cinco iniciativas dirigidas a nutrir estudios en el área de las humanidades digitales desde y para el Caribe. Este esfuerzo es posible gracias a la generosa aportación de la Fundación Mellon.</p>

        <p>Nuestras experiencias en el desarrollo de proyectos, así como nuestro compromiso como académicos, refleja un genuino deseo de generar nuevas prácticas en la producción de conocimiento tecnológicamente atemperado y anclado en las comunidades. Esta necesidad se hace todavía más urgente ante los retos nunca antes vistos relacionados al cambio climático antropogénico, particulamente en el contexto del Caribe y del planeta . Es nuestro interés colaborar en el desarrollo y entrenamiento de futuros académicos y ciudadanos en aspectos relacionados a la solución de estos problemas desde perspectivas transdiciplinarias, interseccionales y pragmáticas.</p>
        
        <p>Estos acercamientos les permitirán a las comunidades enfrentarse a problemas como el calentamiento global, la migración forzosa, las luchas étnicas y raciales y el potencial riesgo de perder valiosos acervos documentales relacionados a estos temas. La promoción del pensamiento integrador es la lógica fundacional que motiva a este grupo de trabajo. Es por ello que partimos del entendimiento de  que los acervos documentales son construcciones híbridas, que integran lo análogo y lo digital, por tanto, nuestro Colectivo está comprometido en promover las ciencias computacionales en función de las preguntas que plantean las ciencias de la información vistas desde nuestro hemisferio.</p>
        <p>
          Para conocer más sobre los cinco programas que se incluyen en este Proyecto, visite nuestra sección <a href="{{site.baseurl}}/programs">de programas</a>. Para conocer más sobre los miembros del equipo y los grupos comunitarios pase a nuestra <a href="{{site.baseurl}}/about">página de información general</a>.
        </p>
      </div>
    </div>
  </div>
</section>

{% include sponsors.html %}
