---
layout: default
name: index
permalink: /
lang: fr
---

{% include banner.html %}
<section class="intro-content pd-t-90-b-60 mrb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase">Bienvenue</h3>
        <p class="intro-paragraph">
          Bienvenue au Collectif de Recherche Numérique Caribéenne (CDSC), où
          des chercheurs expérimentés, des éducateurs et des groupes
          communautaires collaborent pour promouvoir la recherche numérique sur
          la Caraïbe et ses diasporas. À travers nos programmes – notamment des
          écoles d'été, des conférences, des micro-subventions et des formations
          – nous visons à cultiver une nouvelle génération d'étudiants et de
          praticiens venant de la Caraïbe et des États-Unis, qui feront
          progresser les domaines de la recherche numérique caribéenne et des
          humanités numériques. Ces opportunités sont rendues possibles grâce à
          une généreuse subvention de la
          <a href="https://mellon.org" target="_blank">Fondation Mellon</a>.
        </p>

        <p>
          Au CDSC, nous sommes guidés par la conviction qu'une réflexion
          holistique et agile est essentielle pour répondre aux défis actuels du
          changement climatique anthropogénique, des migrations forcées, des
          conflits raciaux et ethniques et de la perte (conséquente) de précieux
          documents historiques. Notre objectif est d'équiper les futurs
          chercheurs et praticiens d'outils interdisciplinaires,
          intersectionnels et pratiques pour résoudre les problèmes
          technologiques, permettant aux communautés de mieux naviguer dans un
          monde en constante évolution.
        </p>

        <p>
          Reconnaissant la nature hybride du patrimoine culturel et historique –
          en partie analogique, en partie numérique – notre collectif exploite
          des méthodes computationnelles pour générer de nouvelles perspectives
          et inspirer des recherches novatrices sur la Caraïbe.
        </p>

        <p>
          Explorez notre site web pour en savoir plus sur notre collectif, nos
          programmes et leur impact.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="portfolio-details-block pd-t-60-b-90">
  {% include related_portfolios.html %}
</section>
<section>{% include sponsors.html %}</section>
