---
layout: default
name: index
permalink: /
lang: es
---

{% include banner.html %}

<section class="intro-content pd-t-90-b-60 mrb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase">Bienvenidos</h3>
        <p class="intro-paragraph">
          Bienvenidos al Caribbean Digital Scholarship Collective (CDSC), donde
          académicos experimentados, educadores y grupos comunitarios colaboran
          para fomentar la erudición digital sobre el Caribe y sus diásporas. A
          través de nuestros programas, que incluyen escuelas de verano,
          conferencias, microbecas y capacitación, esperamos cultivar una nueva
          generación de estudiantes y profesionales del Caribe y los EE. UU. que
          avanzarán en los campos de los estudios digitales caribeños y las
          humanidades digitales. Estas iniciativas son posibles gracias a una
          generosa subvención de la
          <a href="https://mellon.org" target="_blank">Fundación Mellon</a>.
        </p>

        <p>
          En el CDSC, nos impulsa la creencia de que el pensamiento holístico y
          ágil es esencial para abordar los desafíos actuales del cambio
          climático antropogénico, las migraciones forzadas, los enfrentamientos
          raciales y étnicos y la (consecuente) pérdida de valiosos registros
          históricos. Nuestro objetivo es equipar a los futuros académicos y
          practicantes con herramientas interdisciplinarias, interseccionales y
          prácticas para resolver problemas tecnológicos, permitiendo a las
          comunidades navegar mejor en un mundo en constante cambio.
        </p>

        <p>
          A medida que reconocemos la naturaleza híbrida del registro cultural e
          histórico (en parte analógico, en parte digital), nuestro colectivo
          aprovecha los métodos computacionales para generar nuevos
          conocimientos e inspirar investigaciones innovadoras sobre el Caribe.
        </p>

        <p>
          Explora el sitio web para aprender más sobre
          <a href="{{site.baseurl}}/about">nuestro colectivo</a>, nuestros
          <a href="{{site.baseurl}}/programs"> programas</a> y su impacto.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="portfolio-details-block pd-t-60-b-90">
  {% include related_portfolios.html %}
</section>

{% include sponsors.html %}
