---
layout: default
name: index
permalink: /
lang: en
---

{% include banner.html %}

<section class="intro-content pd-t-90-b-60 mrb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase">Welcome</h3>
        <p class="intro-paragraph">
          The Caribbean Digital Scholarship Collective (CDSC) assembles a team of seasoned scholars and educators, in partnership with community groups and academic institutions, to offer programs aimed at nurturing digital scholarship in and for the Caribbean. These offerings and associations are made possible by a generous Mellon Foundation grant.
        </p>
        <p>
        Instilling holistic and agile thinking is a motivating rationale for our work as digital humanities scholars and a mandate for our collective. Our past projects and commitments reflect our acute awareness of the need for new forms of humanistic practice that are both technologically savvy and community-oriented. This need is all the more urgent as the Caribbean and the planet face unprecedented challenges of anthropogenic climate change, forced migrations, racial and ethnic clashes, and the (consequent) loss of valuable historical records. By training future scholars and citizens to solve problems with cross-disciplinary, intersectional, and pragmatic approaches, we can impact the way communities deal with these ever-increasing pace of change.</p>
        <p>The promotion of inclusive thinking is the foundational logic that motivates the CDSC. With the understanding that the cultural and historical record is now a hybrid construction—parts analog, parts digital—the CDSC promises to leverage computational approaches to draw new insights and inspire further research questions about the archive of the Caribbean and the Atlantic world. </p>
        <p>
          To learn more about our specific programs, visit our
          <a href="{{site.baseurl}}/programs">programs page</a>. To learn more
          about our team and our community partners visit our
          <a href="{{site.baseurl}}/about">about page</a>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="portfolio-details-block pd-t-60-b-90">
  {% include related_portfolios.html %}
</section>
<section>{% include sponsors.html %}</section>
