---
layout: default
name: index
permalink: /
lang: en
---

{% include summer_banner.html %} {% include banner.html %}

<section class="intro-content pd-t-90-b-60 mrb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase">Welcome</h3>
        <p class="intro-paragraph">
          Welcome to the Caribbean Digital Scholarship Collective (CDSC), where
          seasoned scholars, educators, and community groups collaborate to
          foster digital scholarship about the Caribbean and its diasporas.
          Through our programs—including summer schools, conferences,
          microgrants, and training—we aim to cultivate a new generation of
          students and practitioners from the Caribbean and the U.S. who will
          advance the fields of Caribbean Digital scholarship and the Digital
          Humanities. These opportunities are made possible by a generous
          <a href="https://mellon.org" target="_blank">Mellon Foundation</a>
          grant.
        </p>

        <p>
          At the CDSC, we are driven by the belief that holistic and agile
          thinking is essential to addressing today’s challenges of
          anthropogenic climate change, forced migrations, racial and ethnic
          clashes, and the (consequent) loss of valuable historical records. Our
          goal is to equip future scholars and practitioners with
          cross-disciplinary, intersectional, and practical tools for solving
          technological problems, allowing communities to better navigate an
          ever-changing world.
        </p>

        <p>
          As we recognize the cultural and historical record's hybrid
          nature—part analog, part digital—our collective leverages
          computational methods to generate new insights and inspire
          groundbreaking research about the Caribbean.
        </p>

        <p>
          Explore the website to learn more
          <a href="{{site.baseurl}}/about">about</a> our collective, our
          <a href="{{site.baseurl}}/programs">programs</a>, and their impact.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="portfolio-details-block pd-t-60-b-90">
  {% include related_portfolios.html %}
</section>
<section>{% include sponsors.html %}</section>
