---
layout: default
name: index
permalink: /
lang: es
---
{% include apply_module.html %}
{% include banner.html %}

<section class="intro-content pd-t-90-b-60 mrb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-uppercase">Bienvenidos</h3
          <p class="intro-paragraph"> El Colectivo para el Estudio del Caribe Digital (CECD) es una iniciativa que agrupa investigadores en humanidades digitales de varias instituciones de educación superior, así como a grupos comunitarios, para gestionar iniciativas dirigidas a nutrir estudios en el área de las humanidades digitales sobre el Caribe y sus diásporas. Este esfuerzo es posible gracias a la generosa <a href="https://mellon.org/grants/grants-database/grants/barnard-college/2106-10809/">subvención de la Fundación Mellon.</a></p>
        <p>
          Inculcar un pensamiento holístico y ágil es una razón motivadora para nuestro trabajo como académicos de humanidades digitales y un mandato para nuestro Colectivo. Nuestras experiencias en el desarrollo de proyectos, así como nuestro compromiso como académicos, refleja un genuino deseo de generar nuevas prácticas en la producción de conocimiento con bases tecnológicas fuertes y ancladas en las comunidades. Esta necesidad se hace todavía más urgente ante los retos nunca antes vistos relacionados al cambio climático antropogénico, la migración forzosa, las luchas étnicas y raciales y el potencial riesgo de perder valiosos acervos documentales relacionados a estos temas. Es nuestro interés colaborar en el desarrollo y entrenamiento de futuros académicos y ciudadanos en aspectos relacionados a la solución de estos problemas desde perspectivas transdisciplinarias, interseccionales y pragmáticas.
        </p>
 <p>
   La promoción del pensamiento integrador es la lógica fundacional que motiva al CECD. Es por ello que partimos del entendimiento de que los acervos documentales son construcciones híbridas, que integran lo análogo y lo digital. Es por ello que el CECD promete aprovechar los enfoques computacionales para crear nuevos conocimientos e inspirar más preguntas de investigación desde y sobre el Caribe.
        </p>
        <p>
          Para conocer más sobre los programas del CECD, visite nuestra sección <a href="{{site.baseurl}}/programs">de programas</a>. Para conocer más sobre los miembros del equipo y los grupos comunitarios pase a nuestra <a href="{{site.baseurl}}/about">página de información general</a>.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="portfolio-details-block pd-t-60-b-90">
  {% include related_portfolios.html %}
</section>

{% include sponsors.html %}
