---
layout: default
name: index
permalink: /
lang: en
---

{% include banner.html %}

<section class="intro-content pd-t-90-b-60 mrb-90 border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-uppercase">Welcome</h4>
        <p class="intro-paragraph">
          The <strong>Caribbean Digital Scholarship Collective</strong> comes
          together with a generous grant from the Andrew W. Mellon Foundation in
          order to develop a series of programs aimed to nurture digital
          scholarship in and for the Caribbean. Our wide-ranging projects
          reflect our acute awareness of the need for new forms of humanistic
          practice that are both technologically savvy and community-oriented.
          This need is all the more urgent as the Caribbean, and the planet
          itself, face the unprecedented challenges of anthropogenic climate
          change. Training future scholars and citizens to solve problems with
          cross-disciplinary, intersectional, and pragmatic approaches will
          impact the way our communities deal with the ever-increasing pace of
          change we now face, including global warming, forced migrations,
          racial and ethnic clashes, and the (consequent) loss of valuable
          historical records. Instilling holistic and agile thinking is a
          motivating rationale for the work we do as digital humanities scholars
          and a mandate for our collective. With the understanding that the
          cultural and historical record is now a hybrid construction—parts
          analog, parts digital—Caribbean digital scholarship promises to
          leverage computational approaches in order to draw new insights and
          inspire new research questions about the archive of the Atlantic
          world.
        </p>
      </div>
    </div>
  </div>
</section>

{% include portfolios.html %} {% include sponsors.html %}
