<!-- Call to action block
================================================== -->
<section class="call-to-action overlay-bg pd-tb-90" style="background-image: url({{relative_url}}/assets/images/call-to-bg.jpg);">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-9">
                <div class="call-to-content text-center">
                    <h2><span>Litmus</span> is a unique theme many features</h2>
                    <p>Precision design, responsive ready,full shortcodes design, perfect portfolio, unique blog layout and many many options for you…</p>
                    <a href="" class="call-to-link">Buy this theme</a>
                </div><!--  /.call-to-content -->
            </div><!--  /.col-12 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section>
<!--  /.call-to-action -->