<footer class="site-footer">
  <div class="footer-top pd-tb-45 bg-bl-russian">
    <div class="container">{% include subscribe_form.html %}</div>
    <!--  /.container -->
  </div>
  <!--  /.footer-top -->
  <div class="footer-middle bg-snow orange-theme">
    <div class="container">
      <div class="row">
        <div class="widget-area sidebar-footer-1 col-sm-8 col-md-4">
          <div id="text-2" class="widget widget_text">
            <div class="textwidget">
              <p>
                <img
                  class="alignnone size-full wp-image-34"
                  src="/assets/images/CDSC-logo-color-m.png"
                  alt=""
                  width="80%"
                />
              </p>
              <!-- <p>Lorem ipsum.</p> -->
              <!-- <ul class="social-link">
                                {% if site.twitter_url %}
                                 <li><a href="{{site.twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}
                                {% if site.facebook_url %}
                                 <li><a href="{{site.facebook_url}}"><i class="fa fa-youtube"></i></a></li>
                                {% endif %}
                                {% if site.instagram_url %}
                                 <li><a href="{{site.instagram_url}}"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}
                                {% if site.facebook_url %}
                                 <li><a href="{{site.facebook_url}}"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}
                            </ul> -->
            </div>
          </div>
        </div>
        <div class="widget-area sidebar-footer-2 col-sm-8 col-md-4">
          <div id="nav_menu-2" class="widget widget_nav_menu">
            <!-- <h2 class="widget-title">Helpful Links</h2>
                        <div class="menu-helpful-links-container">
                            <ul id="menu-helpful-links" class="menu">
                                <li id="menu-item-179" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-179"><a href="#">About Us</a></li>
                                <li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180"><a href="#">FAQs</a></li>
                                <li id="menu-item-181" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-181"><a href="#">Career</a></li>
                                <li id="menu-item-183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-183"><a href="#">Latest News</a></li>
                                <li id="menu-item-185" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-185"><a href="#">Phones</a></li>
                            </ul>
                        </div> -->
          </div>
        </div>
        <!-- <div class="widget-area sidebar-footer-3 col-sm-8 col-md-4">
                    <div id="nav_menu-3" class="widget widget_nav_menu">
                        <h2 class="widget-title">Support</h2>
                        <div class="menu-support-widget-menu-container">
                            <ul id="menu-support-widget-menu" class="menu">
                                <li id="menu-item-173" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-173"><a href="#">About Me</a></li>
                                <li id="menu-item-175" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-175"><a href="#">Contact Us</a></li>
                                <li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-176"><a href="#">Our Team</a></li>
                                <li id="menu-item-177" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-177"><a href="#">Packages</a></li>
                                <li id="menu-item-178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-178"><a href="#">Testimonial</a></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
        <div class="widget-area sidebar-footer-4 col-sm-8 col-md-4">
          <div id="custom_html-2" class="widget_text widget widget_custom_html">
            <h2 class="widget-title">Contact Us</h2>
            <div class="textwidget custom-html-widget">
              <div class="widget-content">
                <ul>
                  <!-- <li><i class="fa fa-map-marker"></i>Vestibulum nulla libero, convallis vitae lacus ut, tincidunt suscipit diam, DC 20002</li>
                                    <li><i class="fa fa-phone"></i>+1 230 456 789 - 012 345</li> -->
                  <li>
                    <i class="fa fa-envelope"></i>contact@cdscollective.org
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  /.row -->
    </div>
    <!--  /.container -->
  </div>
  <!--  /.footer-middle -->

  <div class="footer-bottom orange-theme">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="copyright-text">
            Copyright 2022 <a href="#">CDSC</a> All rights Reserved.
          </p>
        </div>
        <!--  /.col-md-6 -->
        <!-- <div class="col-md-6">
                    <ul id="menu-footer-menu" class="footer-menu float-right">
                        <li id="menu-item-170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-170"><a href="#">Latest Products</a></li>
                        <li id="menu-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171"><a href="#">Our Mission</a></li>
                        <li id="menu-item-172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-172"><a href="#">How to pay?</a></li>
                    </ul>
                </div> -->
        <!--  /.col-md-6 -->
      </div>
      <!--  /.row -->
    </div>
    <!--  /.container -->
  </div>
  <!--  /.footer-bottom -->
</footer>
