<footer class="site-footer">
  <div class="footer-top bg-bl-russian">
    <div class="container">{% include subscribe_form.html %}</div>
    <!--  /.container -->
  </div>
  <!--  /.footer-top -->
  <div class="footer-middle bg-snow orange-theme">
    <div class="container">
      <div class="row">
        <div class="widget-area sidebar-footer-1 col-sm-8 col-md-4">
          <div id="text-2" class="widget widget_text">
            <div class="textwidget">
              <p>
                <img
                  class="alignnone size-full wp-image-34"
                  src="/assets/images/logo_es.png"
                  alt=""
                  width="80%"
                />
              </p>
            </div>
          </div>
        </div>
        <div class="widget-area sidebar-footer-2 col-sm-8 col-md-4">
          <div id="nav_menu-2" class="widget widget_nav_menu">
            <h2 class="widget-title">{{ site.data.language.select }}</h2>
            <ul>
              {% for lang in site.languages %} {% assign lang_name =
              site.data[lang].language.lang_name %} {% if lang ==
              site.active_lang %} {% else %} {% if lang == site.default_lang %}
              <li><a href=" {{ page.url }}">{{ lang_name }}</a></li>
              {% else %}
              <li><a href="/{{ lang }}{{ page.url }}">{{ lang_name }}</a></li>
              {% endif %} {% endif %} {% endfor %}
            </ul>
          </div>
        </div>
        <div class="widget-area sidebar-footer-4 col-sm-8 col-md-4">
          <div id="custom_html-2" class="widget_text widget widget_custom_html">
            <h2 class="widget-title">Contáctenos</h2>
            <div class="textwidget custom-html-widget">
              <div class="widget-content">
                <ul>
                  <li>
                    <i class="fa fa-envelope"></i> contact@cdscollective.org
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 small text-center">
          <p class="copyright-text">
            ©2022 CDSC. Todos los derechos reservados.
          </p>
        </div>
      </div>
      <!--  /.row -->
    </div>
    <!--  /.container -->
  </div>
  <!--  /.footer-middle -->

  <!--  /.footer-bottom -->
</footer>
