<footer class="site-footer">
  <div class="footer-top bg-bl-russian">
    <div class="container">{% include subscribe_form.html %}</div>
    <!--  /.container -->
  </div>
  <!--  /.footer-top -->
  <div class="footer-middle bg-snow orange-theme">
    <div class="container">
      <div class="row">
        <div class="widget-area sidebar-footer-1 col-sm-8 col-md-4">
          <div id="text-2" class="widget widget_text">
            <div class="textwidget">
              <p>
                <img
                  class="alignnone size-full wp-image-34"
                  src="/assets/images/CDSC-logo-color-m.png"
                  alt=""
                  width="80%"
                />
              </p>
            </div>
          </div>
        </div>
        <div class="widget-area sidebar-footer-2 col-sm-8 col-md-4">
          <div id="nav_menu-2" class="widget widget_nav_menu"></div>
        </div>
        <div class="widget-area sidebar-footer-4 col-sm-8 col-md-4 text-right">
          <div id="custom_html-2" class="widget_text widget widget_custom_html">
            <h2 class="widget-title">Contact Us</h2>
            <div class="textwidget custom-html-widget">
              <div class="widget-content">
                <ul>
                  <li>
                    <i class="fa fa-envelope"></i> contact@cdscollective.org
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 small text-center">
          <p class="copyright-text">
            Copyright 2022 CDSC. All rights Reserved.
          </p>
        </div>
      </div>
      <!--  /.row -->
    </div>
    <!--  /.container -->
  </div>
  <!--  /.footer-middle -->

  <!--  /.footer-bottom -->
</footer>
