<div class="mt-5">
  {% if site.active_lang == 'en'%}
  <h3 class="section-title">Interns & Assistants</h3>
  {% elsif site.active_lang == 'es' %}
  <h3 class="section-title">Practicantes y assistentes</h3>
  {% elsif site.active_lang == 'fr' %}
  <h3 class="section-title">Stagiaires et assistants</h3>
  {% endif %}

  <div class="mb-5"></div>

  {% assign grouped_interns = site.data.grantees-interns | group_by: "Title" %}
  {% for title_group in grouped_interns %}
  <h4 class="mt-4">{{ title_group.name }}</h3>
  <div class="row text-center justify-content-center">
    {% for intern in title_group.items %}
    <div class="col-12 col-sm-6 col-md-3">
      <p class="m-0">{{ intern.Name }}</p>
      {% unless intern.Status == 'N/A' %}<p class="mt-0 mb-0 small-text">{{ intern.Status }}</p>{% endunless %}

      
      <p class="mt-0 mb-5 small-text">
        {{ intern["Institutional Affiliation"] }}
      </p>

    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
