<div class="container">
  <!-- Navigation Links for Micro-Grants -->
  <div class="program-navigation">
    <a href="#micro-grants-2023" class="btn btn-link">Micro-Grants 2023</a> |
    <a href="#micro-grants-2022" class="btn btn-link">Micro-Grants 2022</a>
  </div>

  <div class="grantee-list">
    {% assign grouped_grants = site.data.grantees-microgrants | group_by: "Program" %}
    {% for program in grouped_grants %}
      {% if program.name == "Micro-Grants 2023" %}
        <div id="micro-grants-2023" class="program-group">
          <h2 class="program-title">{{ program.name }}</h2>
          <!-- Program Title -->

          <div class="row">
            {% for grant in program.items %}
              <div class="col-12">
                <div class="grant-item mb-3 mt-3 row">
                  <!-- Image Column -->
                  <div class="col-2">
                    {% assign image_index = forloop.index0 | modulo: 2 %}
                    {% if image_index == 0 %}
                      <img src="/assets/images/54.png" alt="Placeholder Image 1" class="img-fluid" />
                    {% else %}
                      <img src="/assets/images/55.png" alt="Placeholder Image 2" class="img-fluid" />
                    {% endif %}
                  </div>

                  <!-- Text Column -->
                  <div class="col-9">
                    <h4 class="mb-0">{{ grant["Project Title"] }}</h4>
                    <p class="m-0 pt-2">{{ grant["PI(s)"] }}</p>
                    <p class="m-0">{{ grant["Location of project"] }}</p>
                    <p class="mt-0 small-text">Amount awarded:{{ grant["Amount awarded"] }}</p>
                    <p class="mt-3">{{ grant["Description of the project (150 words max)"] }}</p>
                    {% if grant["External links (if applicable)"] %}
                      <p class="mt-1">
                        <a href="{{ grant["External links (if applicable)"] }}" target="_blank">View more</a>
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% elsif program.name == "Micro-Grants 2022" %}
        <div id="micro-grants-2022" class="program-group">
          <h2 class="program-title">{{ program.name }}</h2>
          <!-- Program Title -->

          <div class="row">
            {% for grant in program.items %}
              <div class="col-12">
                <div class="grant-item mb-3 mt-3 row">
                  <!-- Image Column -->
                  <div class="col-2">
                    {% assign image_index = forloop.index0 | modulo: 2 %}
                    {% if image_index == 0 %}
                      <img src="/assets/images/54.png" alt="Placeholder Image 1" class="img-fluid" />
                    {% else %}
                      <img src="/assets/images/55.png" alt="Placeholder Image 2" class="img-fluid" />
                    {% endif %}
                  </div>

                  <!-- Text Column -->
                  <div class="col-9">
                    <h4 class="mb-0">{{ grant["Project Title"] }}</h4>
                    <p class="m-0 pt-2">{{ grant["PI(s)"] }}</p>
                    <p class="m-0">{{ grant["Location of project"] }}</p>
                    <p class="mt-0 small-text">Amount awarded:{{ grant["Amount awarded"] }}</p>
                    <p class="mt-3">{{ grant["Description of the project (150 words max)"] }}</p>
                    {% if grant["External links (if applicable)"] %}
                      <p class="mt-1">
                        <a href="{{ grant["External links (if applicable)"] }}" target="_blank">View more</a>
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
