<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    {% if site.active_lang == 'en' %}
    <meta name="description" content="{{ site.description }}" />
    {% elsif site.active_lang == 'es' %}
    <meta name="description" content="{{ site.description_es }}" />
    {% endif %}
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta name="author" content="{{ site.author }}" />
    <title>
      {% if page.title %} {{ page.title }} {% else %} {% if site.active_lang ==
      'en' %}{{ site.title }} {% elsif site.active_lang == 'es' %} {{
      site.title_es }} {% endif %} {% endif %}
    </title>

    <!-- Open Graph -->
    {% if site.active_lang == 'en' %} {% if page.layout == "default" %}
    <meta property="og:title" content="{{site.title}}" />
    {% else %}
    <meta property="og:title" content="{{page.title}} | {{site.title}}" />
    {% endif %}
    <meta property="og:description" content="{{site.description}}" />
    <meta property="fb:admins" content="elotroalex" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{site.baseurl}}{{page.url}}" />
    <meta property="fb:app_id" content="589495744558280" />
    <meta
      property="og:image"
      content="http://cdscollective.org/assets/images/open-graph.png"
    />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />

    <!-- Twitter -->

    <meta property="twitter:url" content="https://" />
    <meta property="twitter:title" content="{{site.title}}" />
    <meta property="twitter:description" content="{{site.description}}" />
    <meta
      property="twitter:image"
      content="http://cdscollective.org/assets/images/open-graph.png"
    />
    <meta property="twitter:domain" content="{{site.description}}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@elotroalex" />
    <meta property="twitter:site" content="@elotroalex" />

    {% elsif site.active_lang == 'es' %}
    <!-- Open Graph -->

    {% if page.layout == "default" %}
    <meta property="og:title" content="{{site.title_es}}" />
    {% else %}
    <meta property="og:title" content="{{page.title}} | {{site.title_es}}" />
    {% endif %}
    <meta property="og:description" content="{{site.description_es}}" />
    <meta property="fb:admins" content="elotroalex" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{site.baseurl}}{{page.url}}" />
    <meta property="fb:app_id" content="589495744558280" />
    <meta
      property="og:image"
      content="http://cdscollective.org/assets/images/open-graph.png"
    />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />

    <!-- Twitter -->

    <meta property="twitter:url" content="https://" />
    <meta property="twitter:title" content="{{site.title_es}}" />
    <meta property="twitter:description" content="{{site.description_es}}" />
    <meta
      property="twitter:image"
      content="http://cdscollective.org/assets/images/open-graph.png"
    />
    <meta property="twitter:domain" content="{{site.description_es}}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@elotroalex" />
    <meta property="twitter:site" content="@elotroalex" />
    {% endif %}

    <!-- LINKS -->
    <link
      rel="shortcut icon"
      href="{{relative_url}}/assets/images/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      href="{{relative_url}}/assets/images/apple-touch-icon.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{relative_url}}/assets/images/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{relative_url}}/assets/images/apple-touch-icon-114x114.png"
    />
    <link
      rel="android-chrome"
      sizes="192x192"
      href="{{relative_url}}/assets/images/android-chrome-192x192.png"
    />
    <link
      rel="android-chrome"
      sizes="512x512"
      href="{{relative_url}}/assets/images/android-chrome-512x512.png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cPoppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- CSS -->

    <link rel="stylesheet" href="/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/assets/css/icons.min.css" />
    <link
      rel="stylesheet"
      href="/assets/css/linea-arrows.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="/assets/js/modernizr.min.js"></script>
    {% if site.google_analytics %} {% include analytics.html %} {% endif %}

    <!-- MAILCHIMP va aquí -->

    {% if page.mailchimp %}
    <link href="https://cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    {% endif %}

  </head>
</html>
