<nav class="navigation">
  <div class="menu-wrapper">
    <div class="menu-content">
      <ul class="mainmenu">
        {% for nav in site.data[site.active_lang]["menu"] %} {% if nav.submenu
        %}
        <li>
          <a
            href="{{ nav.url | relative_url }}"
            class="{% if nav.text == 'English' or nav.text == 'Español' or nav.text == 'Français' %} language-switcher {% endif %}"
          >
            {{ nav.text }} <i class="fa fa-angle-down"></i>
          </a>
          <ul class="sub-menu">
            {% for submenu_list in nav.submenu %} {% assign lang_code = '' %} {%
            if submenu_list.text == 'English' %} {% assign lang_code = 'en' %}
            {% elsif submenu_list.text == 'Español' %} {% assign lang_code =
            'es' %} {% elsif submenu_list.text == 'Français' %} {% assign
            lang_code = 'fr' %} {% endif %} {% if lang_code != '' %} {%- assign
            current_path = page.url -%} {%- comment -%} normalize path: remove
            current lang prefix if present {%- endcomment -%} {% if
            site.active_lang != site.default_lang %} {% assign lang_prefix = '/'
            | append: site.active_lang %} {% if current_path == lang_prefix or
            current_path == lang_prefix | append: '/' %} {% assign current_path
            = '/' %} {% else %} {% assign current_path = current_path |
            replace_first: lang_prefix, '' %} {% endif %} {% endif %} {%-
            comment -%} build destination URL {%- endcomment -%} {% if lang_code
            == site.default_lang %} {% assign new_url = current_path %} {% else
            %} {% assign new_url = '/' | append: lang_code | append:
            current_path %} {% endif %}

            <li>
              <a class="language-option" href="{{ submenu_list.url }}">
                {{ submenu_list.text }}
              </a>
            </li>
            {% else %}
            <li>
              <a href="{{ submenu_list.url | relative_url }}">
                {{ submenu_list.text }}
              </a>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </li>
        {% else %}
        <li>
          <a
            class="{% if page.url contains nav.url %} active {% endif %}"
            href="{{ nav.url | relative_url }}"
          >
            {{ nav.text }}
          </a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
  <p>DEBUG: active_lang={{ site.active_lang }} | page.url={{ page.url }}</p>
</nav>
