<nav class="navigation">
  <div class="menu-wrapper">
    <div class="menu-content">
      <ul class="mainmenu">
        {% for nav in site.data[site.active_lang]["menu"] %} {% if nav.submenu
        %}
        <li>
          <a
            href="{{ nav.url | relative_url }}"
            class="{% if nav.text == 'English' or nav.text == 'Español' or nav.text == 'Français' %} language-switcher {% endif %}"
            >{{nav.text}} <i class="fa fa-angle-down"></i
          ></a>
          <ul class="sub-menu">
            {% assign submenu_data = nav.submenu %} {% for submenu_list in
            submenu_data %}
            <li>
              <a
                href="{{ submenu_list.url }}"
                class="{% if submenu_list.text == 'Español' or submenu_list.text == 'Français' or submenu_list.text == 'English' %} language-option {% endif %}"
                >{{submenu_list.text}}</a
              >
            </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li>
          <a
            class="{% if page.url contains nav.url %} active {% endif %}"
            href="{% if nav.text == 'English' %}
            {{ '/' | append: 'en' | prepend: site.baseurl }}
          {% elsif nav.text == 'Español' %}
            {{ '/' | append: 'es' | prepend: site.baseurl }}
          {% elsif nav.text == 'Français' %}
            {{ '/' | append: 'fr' | prepend: site.baseurl }}
          {% else %}
            {{ nav.url | relative_url }}
          {% endif %}"
            >{{ nav.text }}</a
          >
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</nav>
