<section id="organizations" class="organizations-block pd-tb-45">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 d-flex justify-content-start align-items-center"">
        {% if site.active_lang == 'en'%}
        <h3 class="section-title">Our Community Partners</h3>
        {% elsif site.active_lang == 'es' %}
        <h3 class="section-title">Organizaciones comunitarias asociadas</h3>
        {% elsif site.active_lang == 'fr' %}
        <h3 class="section-title">Nos partenaires communautaires</h3>
        {% endif %}

           <!-- Collapse Arrow Icon -->
           <button
           class="btn btn-link p-0"
           type="button"
           data-toggle="collapse"
           data-target="#orgCollapse"
           aria-expanded="false"
           aria-controls="orgCollapse"
         >
           <i class="bi bi-caret-down-fill arrow-icon ml-3"></i>
         </button>
         
      </div>
    </div>
       <!-- Collapsible Team Content -->
       <div class="collapse" id="orgCollapse">
    <div class="d-flex flex-wrap align-items-center">
      {% for image in site.data.organizations %}

      <div class="pr-3 pb-3">
        <a href="{{immage.link}}" target="-blank">
          <img
            class="img-fluid"
            src="{{ site.baseurl }}/assets/images/organizations/{{ image.logo }}"
            alt="{{ image.org }}"
          />
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
    <!--  /.row -->
  </div>
  <!--  /.container -->
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var orgArrow = document.querySelector('[data-target="#orgCollapse"] .arrow-icon');

    $('#orgCollapse').on('show.bs.collapse', function () {
      orgArrow.classList.add('rotate');
    });

    $('#orgCollapse').on('hide.bs.collapse', function () {
      orgArrow.classList.remove('rotate');
    });
  });
</script>
