<!-- Team Block
================================================== -->
<section class="our-team pd-b-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Our Team</h2>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-12">
                <div class="team-slider owl-carousel">
                    <div class="item">
                        <div class="team-item">                            
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/team/1.jpg" class="hexagonal-image" alt="person-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hexagonal -->

                            <div class="team-content text-center">
                                <h2 class="member-name">Lam Hoang</h2>
                                <p class="member-deseg">( Graphic Design )</p>
                            </div><!--  /.team-content -->
                        </div><!--  /.team-item -->
                    </div><!--  /.item -->
                    <div class="item">
                        <div class="team-item">                            
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/team/2.jpg" class="hexagonal-image" alt="person-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hexagonal -->
                            
                            <div class="team-content text-center">
                                <h2 class="member-name">Shail</h2>
                                <p class="member-deseg">( CEO - Shailthemes )</p>
                            </div><!--  /.team-content -->
                        </div><!--  /.team-item -->
                    </div><!--  /.item -->
                    <div class="item">
                        <div class="team-item">                            
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/team/3.jpg" class="hexagonal-image" alt="person-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hexagonal -->
                            
                            <div class="team-content text-center">
                                <h2 class="member-name">Pixel</h2>
                                <p class="member-deseg">( Graphic Design )</p>
                            </div><!--  /.team-content -->
                        </div><!--  /.team-item -->
                    </div><!--  /.item -->
                    <div class="item">
                        <div class="team-item">                            
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/team/4.jpg" class="hexagonal-image" alt="person-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hexagonal -->
                            
                            <div class="team-content text-center">
                                <h2 class="member-name">Ha Nguyen</h2>
                                <p class="member-deseg">( Graphic Design )</p>
                            </div><!--  /.team-content -->
                        </div><!--  /.team-item -->
                    </div><!--  /.item -->
                    <div class="item">
                        <div class="team-item">                            
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/team/1.jpg" class="hexagonal-image" alt="person-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.hexagonal -->
                            
                            <div class="team-content text-center">
                                <h2 class="member-name">Lam Hoang</h2>
                                <p class="member-deseg">( CEO - Shailthemes )</p>
                            </div><!--  /.team-content -->
                        </div><!--  /.team-item -->
                    </div><!--  /.item -->
                </div><!--  /.team-slider -->
            </div><!--  /.col-12 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section>
<!--  /.our-team -->