<section id="programs" class="portfolio-block pd-tb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% if site.active_lang == 'en' %}
        <h2 class="section-title">Our Programs</h2>
        {% elsif site.active_lang == 'es' %}
        <h2 class="section-title">Nuestros Programas</h2>
        {% elsif site.active_lang == 'fr' %}
        <h2 class="section-title">Nos Programmes</h2>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row item-4 portfolio-grid">
          {% for portfolio in site.portfolios %}
          <div class="item col-6 col-lg-4 {{portfolio.filter}}">
            <figure class="portfolio-thumb">
              <img
                class="img-fluid"
                src="{{portfolio.thumbnail}}"
                alt="{{portfolio.short_title}}"
              />
              <div class="hover-content">
                <div class="hover-details">
                  <a href="{{portfolio.url}}" class="ajax-single-link">
                    <span style="line-height: 1rem; padding-bottom: 1rem"
                      >⬤⬤<br />⬤⬤</span
                    >
                    <h5>{{portfolio.short_title}}</h5>
                  </a>
                </div>
              </div>
            </figure>
          </div>
          {% endfor %}
          <!-- <div class="item col-sm-6 col-md-6 col-lg-4">
            <figure class="portfolio-thumb shadow-none">
              <img
                class="img-fluid"
                src="{{site.baseurl}}/assets/images/Portfolio/cdsc-logo.png"
                alt="CDSC logo"
              />
            </figure>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
