<div class="item col-md-6">
    <article class="post">
        {% if post.post_image %}
        <figure class="article-thumb">
            <a href="{{post.url}}"><img class="img-fluid" src="{{post.post_image}}" alt="{{post.title}}"/></a>
        </figure>
        {% endif %}
        <div class="article-header">
            <div class="entry-meta">
                <div class="entry-date">            <span class="item-meta">{% if site.active_lang == "en" %}
                    {{post.date | date_to_long_string }}
                    {% elsif site.active_lang == "es" %}
                    {% assign m = post.date | date: "%-m" %}
                    {{ post.date | date: "%-d" }}
                    {% case m %}
                      {% when '1' %}Enero
                      {% when '2' %}Febrero
                      {% when '3' %}Marzo
                      {% when '4' %}Abril
                      {% when '5' %}Mayo
                      {% when '6' %}Junio
                      {% when '7' %}Julio
                      {% when '8' %}Agosto
                      {% when '9' %}Septiembre
                      {% when '10' %}Octubre
                      {% when '11' %}Noviembre
                      {% when '12' %}Diciembre
                    {% endcase %}
                    {{ post.date | date: "%Y" }}
                    {% endif %}</span></div>
                <div class="entry-cat">
                    {% assign category_name = post.categories[0] |downcase %}
                    <a href="{{relative_url}}/category/{{ category_name }}" class="tag_link">{{category_name | capitalize}}</a>
                </div>
            </div>
            <h2 class="entry-title"><a href="{{post.url}}">{{post.title}}</a></h2>
        </div>
        <div class="article-content">
            <p style="line-height: 1.4rem;">{{post.excerpt | strip_html | truncatewords: "15"}}</p>
        </div>
    </article>
</div>