<div class="row">
  <div class="container">
    <div class="col-12">
      <h3 class="portfolio-related-title section-title">
        {{site.data[site.active_lang].global.programs}}
      </h3>
      <div class="portfolio-related-slider owl-carousel">
        {% for portfolio in site.portfolios %}
        <div class="item">
          <a href="{{portfolio.url}}"
            ><img
              class="img-fluid"
              src="{{portfolio.thumbnail}}"
              alt="{{portfolio.short_title}}"
            />
            <h5 class="pt-3">{{portfolio.short_title}}</h5></a
          >
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
