
<section class="client-review overlay-bg pd-tb-90" style="background-image: url(/assets/images/client-overlay-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="review-slider owl-carousel">
                    <div class="item">
                        <div class="client-thumb">
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                  <img src="{{relative_url}}/assets/images/client-1.jpg" class="hexagonal-image" alt="person-7"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="client-header text-center">
                            <h2 class="client-name">Shail</h2>
                            <h5 class="client-deseg">(CEO - ShailThemes)</h5>
                        </div>
                        <div class="client-rating text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                        <div class="client-desc text-center">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        </div>
                        <div class="quote-icon text-center">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-thumb">
                            <div class="hexagonal">
                                <div class="hexagonal-img-container">
                                    <div class="hexagonal-img-hex">
                                        <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                            <div class="hexagonal-img-hex-in1">
                                                <div class="hexagonal-img-hex-in2">
                                                    <img src="{{relative_url}}/assets/images/client-1.jpg" class="hexagonal-image" alt="person-7"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="client-header text-center">
                            <h2 class="client-name">Shail</h2>
                            <h5 class="client-deseg">(CEO - ShailThemes)</h5>
                        </div>
                        <div class="client-rating text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-empty"></i>
                        </div>
                        <div class="client-desc text-center">
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        </div>
                        <div class="quote-icon text-center">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</section>