<div class="overlay-search">
    <button type="button" class="overlay-close"><i class="pe-7s-close"></i></button>
    <div class="header-search-content">
        <div class="container">            
            <div class="row justify-content-md-center">            
                <div class="col-sm-12 col-md-8">
                    <h4 class="search-title">What are you looking for?</h4>
                    <form action="#" method="get" class="searchform">
                        <div class="input-group">
                            <input type="text" class="form-controller" id="search-input" placeholder="Search blog posts.." required>
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <h5 class="search-footer-title">Type Any <span>Words</span> to confirm search term</h5>
                    <div class="search-result">
                        <ul id="results-container"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>