<!-- Hamburger Menu
================================================== -->
<div class="hamburger-block"> 
    <div class="overlaybg"></div>
    <div class="hamburger-block-container expand-block">
        <div class="hamburger-search-form">
            <form action="#" method="get" class="searchform">
                <div class="input-group">
                    <input type="text" class="form-controller" placeholder="Your seach item here" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!--  /.hamburger-search-form -->
        <!-- Mobile Nav Close -->
        <div class="close-menu">
            <i class="pe-7s-close"></i>
        </div>
        
        <!-- Main Menu Mobile -->
        <div class="main-mobile-menu" id="mobile-main-menu"></div><!--  /.main-mobile-menu -->

        <!-- Hamburger Menu Wrapper -->
        <div class="hamburger-wrapper">
            <!-- Hamburger Menu Content -->
            <div class="hamburger-content">
                <ul class="hamburger-mainmenu">
                    <li>
                        <a href="#">My Profile<span class="description">6 Check Profile</span></a>
                    </li>
                    <li>
                        <a href="#">Freebies<span class="description">97543 Boards</span></a>
                    </li>
                    <li>
                        <a href="#">Facebook Page<span class="description">753 Shared Documents</span></a>
                    </li>                                    
                    <li>
                        <a href="#">Dribble<span class="description">74 Contacts</span></a>
                    </li>
                    <li>
                        <a href="#">Behance<span class="description">500 Follower</span></a>
                    </li>
                    <li>
                        <a href="#">Deals<span class="description">What we offer in deals</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="blog.html">Blog Page</a>
                            </li>
                            <li>
                                <a href="blog-single.html">Blog Sinlge</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li> 
                        </ul><!-- /.sub-menu -->
                    </li>
                </ul> <!-- /.menu-list -->
            </div> <!-- /.hours-content-->

            <!-- Hamburger Widget Area -->
            <div class="hamburger-widget-area">
                <div class="widget">
                    <h2 class="widget-title">About Us</h2>
                    <div class="widget-content">
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                        <a href="#" class="btn purchase-btn">Purchase Our Theme</a>
                    </div><!--  /.widget-content -->
                </div><!--  /.widget -->
            </div><!--  /.hamburger-widget-area -->
        </div> <!-- /.menu-wrapper --> 
    </div><!-- /.site-navigation -->
</div>
<!--  /.hamburger-block -->