<!-- Hamburger Menu
================================================== -->
<div class="hamburger-block">
  <div class="overlaybg"></div>
  <div class="hamburger-block-container expand-block">
    <!-- Mobile Nav Close -->
    <div class="close-menu">
      <i class="pe-7s-close"></i>
    </div>

    <!-- Main Menu Mobile -->
    <div class="main-mobile-menu" id="mobile-main-menu"></div>
    <!--  /.main-mobile-menu -->

    <!-- Hamburger Menu Wrapper -->
    <div class="hamburger-wrapper">
      <!-- Hamburger Widget Area -->
      <div class="hamburger-widget-area">
        <div class="widget">
          <h2 class="widget-title">About Us</h2>
          <div class="widget-content">
            <p>
              Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
              libero, sit amet adipiscing sem neque sed ipsum.
            </p>
            <a href="#" class="btn purchase-btn">Stay in Touch</a>
          </div>
          <!--  /.widget-content -->
        </div>
        <!--  /.widget -->
      </div>
      <!--  /.hamburger-widget-area -->
    </div>
    <!-- /.menu-wrapper -->
  </div>
  <!-- /.site-navigation -->
</div>
<!--  /.hamburger-block -->
