<div class="blog-sidebar">
    <aside class="widget clearfix widget_categories">
        <h3 class="widget-title">Categories</h3>       
        <ul class="categories_list text-left">
            {% assign categories_list = site.categories %}
              {% if categories_list.first[0] == null %}
                {% for category in categories_list %}
                  <li><a href="/category/{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} <span>({{ site.tags[category].size }})</span></a></li>
                {% endfor %}
              {% else %}
                {% for category in categories_list %}
                  <li><a href="/category/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} <span>({{ category[1].size }})</span></a></li>
                {% endfor %}
              {% endif %}
        </ul>
    </aside>
    <aside class="widget clearfix widget_recent_posts">
        <h3 class="widget-title">Latest Posts</h3>    
        <ul class="widget-feed">
            {% for post in site.posts limit: "5" %}
            <li class="feed-wrapper">
                <div class="post-content"> 
                    {% if post.post_image %}                                
                    <div class="image-content">
                        <a href="{{post.url}}"><img class="img-fluid" src="{{post.post_image}}" alt="{{post.title}}"/></a>
                    </div>
                    {% endif %} 
                    <div class="post-text">
                        <h5 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h5>
                        <span class="item-meta">{{post.date | date_to_long_string}}</span>
                    </div> 
                </div>  
            </li>  
            {% endfor %}
        </ul> 
    </aside>
</div>