<div class="blog-sidebar">
  <aside class="widget clearfix widget_recent_posts">
    <h3 class="widget-title">{{ site.data[site.active_lang].global.latest }}</h3>
    <ul class="widget-feed">
      {% for post in site.posts limit: "5" %}
      {% if post.lang == "en" %}
      <li class="feed-wrapper">
        <div class="post-content">
          {% if post.post_image %}
          <div class="image-content">
            <a href="{{post.url}}"
              ><img
                class="img-fluid"
                src="{{post.post_image}}"
                alt="{{post.title}}"
            /></a>
          </div>
          {% endif %}
          <div class="post-text">
            <h5 class="post-title">
              <a href="{{post.url}}">{{post.title}}</a>
            </h5>
            <span class="item-meta">{% if site.active_lang == "en" %}
              {{post.date | date_to_long_string }}
              {% elsif site.active_lang == "es" %}
              {% assign m = post.date | date: "%-m" %}
              {{ post.date | date: "%-d" }}
              {% case m %}
                {% when '1' %}Enero
                {% when '2' %}Febrero
                {% when '3' %}Marzo
                {% when '4' %}Abril
                {% when '5' %}Mayo
                {% when '6' %}Junio
                {% when '7' %}Julio
                {% when '8' %}Agosto
                {% when '9' %}Septiembre
                {% when '10' %}Octubre
                {% when '11' %}Noviembre
                {% when '12' %}Diciembre
              {% endcase %}
              {{ post.date | date: "%Y" }}
              {% endif %}</span>
          </div>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </aside>
</div>
