    <!-- Our Skill Block
    ================================================== -->
    <section class="our-skill pd-b-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="section-title">Our Skill</h2>
                    <p class="section-subtitle">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p><!--  /.section-subtitle -->

                    <div class="skill-progress">
                        <div class="skill-bar" data-percentage="89%">
                            <h4 class="progress-title-holder">
                                <span class="progress-title">Graphics Design</span>
                                <span class="progress-wrapper">
                                    <span class="progress-mark">
                                        <span class="percent"></span>
                                    </span>
                                </span>
                            </h4>
                            <div class="progress-outter">
                                <div class="progress-content"></div>
                            </div>
                        </div><!-- /.skill-bar -->
                        <div class="skill-bar" data-percentage="96%">
                            <h4 class="progress-title-holder">
                                <span class="progress-title">HTML/CSS</span>
                                <span class="progress-wrapper">
                                    <span class="progress-mark">
                                        <span class="percent"></span>
                                    </span>
                                </span>
                            </h4>
                            <div class="progress-outter">
                                <div class="progress-content"></div>
                            </div>
                        </div><!-- /.skill-bar -->
                        <div class="skill-bar" data-percentage="80%">
                            <h4 class="progress-title-holder">
                                <span class="progress-title">Marketing</span>
                                <span class="progress-wrapper">
                                    <span class="progress-mark">
                                        <span class="percent"></span>
                                    </span>
                                </span>
                            </h4>
                            <div class="progress-outter">
                                <div class="progress-content"></div>
                            </div>
                        </div><!-- /.skill-bar -->
                        <div class="skill-bar" data-percentage="85%">
                            <h4 class="progress-title-holder">
                                <span class="progress-title">Adwords</span>
                                <span class="progress-wrapper">
                                    <span class="progress-mark">
                                        <span class="percent"></span>
                                    </span>
                                </span>
                            </h4>
                            <div class="progress-outter">
                                <div class="progress-content"></div>
                            </div>
                        </div><!-- /.skill-bar -->
                    </div>
                </div><!--  /.col-lg-6 -->

                <div class="col-lg-6 d-none d-lg-block d-xl-block">
                    <div class="hexa-grid">                    
                        <div class="hexagonal hexa-item">
                            <div class="hexagonal-img-container">
                                <div class="hexagonal-img-hex">
                                    <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                        <div class="hexagonal-img-hex-in1">
                                            <div class="hexagonal-img-hex-in2">
                                                <img src="{{relative_url}}/assets/images/skill-1.jpg" class="hexagonal-image" alt="person-7">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.hexagonal -->
                        <div class="hexagonal hexa-item hexa-middle">
                            <div class="hexagonal-img-container">
                                <div class="hexagonal-img-hex">
                                    <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                        <div class="hexagonal-img-hex-in1">
                                            <div class="hexagonal-img-hex-in2">
                                                <img src="{{relative_url}}/assets/images/skill-2.jpg" class="hexagonal-image" alt="person-7">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.hexagonal -->
                        <div class="hexagonal hexa-item">
                            <div class="hexagonal-img-container">
                                <div class="hexagonal-img-hex">
                                    <div class="hexagonal-img-hex1 hexagonal-img-hex2">
                                        <div class="hexagonal-img-hex-in1">
                                            <div class="hexagonal-img-hex-in2">
                                                <img src="{{relative_url}}/assets/images/skill-3.jpg" class="hexagonal-image" alt="person-7">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.hexagonal -->
                    </div><!--  /.hexa-grid -->
                </div><!--  /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- /.our-skill -->