<section id="sponsors" class="sponsors-block pd-tb-45">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        {% if site.active_lang == 'en' %}
        <h3 class="section-title">Supported by</h3>
        {% elsif site.active_lang == 'es' %}
        <h3 class="section-title">Apoyados por</h3>
        {% elsif site.active_lang == 'fr' %}
        <h3 class="section-title">Avec le soutien de</h3>
        {% endif %}
      </div>
    </div>
    <div class="d-flex">
      <div class="">
        <a href="https://mellon.org/">
          <img
            class="img-responsive pr-5"
            src="{{relative_url}}/assets/images/logo-mellon.png"
            alt="company logo"
          />
        </a>
      </div>
      <div class="">
        <a href="https://digitalhumanities.barnard.edu/">
          <img
            class="img-responsive pr-5"
            src="{{relative_url}}/assets/images/logo-barnard-dhc.png"
            alt="company logo"
          />
        </a>
      </div>
      <!-- <div class="">
        <a href="https://createcaribbean.org/create/">
          <img
            class="img-responsive px-2"
            src="{{relative_url}}/assets/images/logo-create-caribbean.png"
            alt="company logo"
          />
        </a>
      </div> -->
      <div class="">
        <a href="https://www.uprrp.edu/">
          <img
            class="img-responsive px-2"
            src="{{relative_url}}/assets/images/logo-upr.png"
            alt="company logo"
          />
        </a>
      </div>
    </div>
    <!--  /.row -->
  </div>
  <!--  /.container -->
</section>
