<!-- Company with us Block
================================================== --> 
<div class="pd-tb-45">
    <div class="container">    
        <div class="row mb-5">
            <div class="col-md-12">
                <h3 class="section-title">Our Partners</h3>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->    
        <div class="d-flex justify-content-center">
            <div class="">
                <a href="#">
                    <img class="img-responsive pr-2" src="{{relative_url}}/assets/images/logo-mellon.png" alt="company logo" />
                </a>
            </div><!--  /.item -->
            <div class="">
                <a href="#">
                    <img class="img-responsive pr-2" src="{{relative_url}}/assets/images/logo-barnard-dhc.png" alt="company logo" />
                </a>
            </div><!--  /.item -->
            <div class="">
                <a href="#">
                    <img class="img-responsive px-2" src="{{relative_url}}/assets/images/logo-create-caribbean.png" alt="company logo" />
                </a>
            </div><!--  /.item -->
            <div class="">
                <a href="#">
                    <img class="img-responsive px-2" src="{{relative_url}}/assets/images/logo-upr.png" alt="company logo" />
                </a>
            </div><!--  /.item -->

        </div><!--  /.row -->
    </div><!--  /.container -->
</div>
<!--  /.company-with-us -->