<form
  class="newsletter-form validate"
  method="post"
  target="_blank"
  action="{{site.form_action_url}}"
>
  <div id="subscribe" class="row align-items-center">
    {% if site.active_lang == 'en' %}
    <div class="col-md-3">
      <h2 class="form-title">Newsletter</h2>
    </div>
    <div class="col-md-6">
      <input
        type="email"
        class="form-controller"
        name="subescrbe_mail"
        placeholder="Enter your email"
        required
      />
    </div>
    <div class="col-md-3">
      <button type="submit" class="newsletter-btn">Subscribe</button>
    </div>
    {% elsif site.active_lang == 'es' %}
    <div class="col-md-3">
      <h2 class="form-title">Boletín</h2>
    </div>
    <div class="col-md-6">
      <input
        type="email"
        class="form-controller"
        name="subescrbe_mail"
        placeholder="Su dirección de correo electrónico"
        required
      />
    </div>
    <div class="col-md-3">
      <button type="submit" class="newsletter-btn">Subscríbete</button>
    </div>
    {% endif %}
  </div>
  <!--  /.row -->
  <div class="newsletter-message">
    <div class="subscription-success"></div>
    <div class="subscription-error"></div>
  </div>
  <!--  /.message -->
</form>
