<!-- Team Block
================================================== -->
<section class="our-team pd-b-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Our Team</h3>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

        <div class="row text-center mt-5 justify-content-center">
            <div class="col-md-3 mb-2">
                     
                <img class="shadow-lg p-3 mb-5 bg-light rounded-circle" alt="100x100" src="{{site.baseurl}}/assets/images/sesprit.jpg"
                  data-holder-rendered="true">
                <h3 class="my-0 h4">Schuyler Esprit</h3>
                <p class="mt-0 mb-5">Create Caribbean</p>         
            </div>
            <div class="col-md-3 mb-2">
                    
                <img class="shadow-lg p-3 mb-5 bg-light rounded-circle" alt="100x100" src="{{site.baseurl}}/assets/images/agil.jpg"
                  data-holder-rendered="true">    
                    <h3 class="my-0 h4">Alex Gil</h3>
                    <p class="mt-0 mb-5">Columbia University</p>      
            </div>
            <div class="col-md-3 mb-2">
                     
                <img class="shadow-lg p-3 mb-5 bg-light rounded-circle" alt="100x100" src="{{site.baseurl}}/assets/images/kglover.jpg"
                  data-holder-rendered="true">   
                    <h3 class="my-0 h4">Kaiama L. Glover</h3>
                    <p class="mt-0 mb-5">Barnard College</p>      
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-md-3 mb-2">
                      
                <img class="shadow-lg p-3 mb-5 bg-light rounded-circle" alt="100x100" src="{{site.baseurl}}/assets/images/mgonzalez.jpg"
                  data-holder-rendered="true"> 
                    <h3 class="my-0 h4">Mirerza González Vélez</h3>
                    <p class="mt-0 mb-5">University of Puerto Rico</p>       
            </div>
            <div class="col-md-3 mb-2">
                      
                <img class="shadow-lg p-3 mb-5 bg-light rounded-circle" alt="100x100" src="{{site.baseurl}}/assets/images/kbjosephs.jpg"
                  data-holder-rendered="true"> 
                    <h3 class="my-0 h4">Kelly Baker Josephs</h3>
                    <p class="mt-0 mb-5">City University of New York</p>       
            </div>
            <div class="col-md-3 mb-2">
                    
                <img class="shadow-lg p-3 mb-5 bg-light rounded-circle" alt="100x100" src="{{site.baseurl}}/assets/images/nrios.jpg"
                  data-holder-rendered="true">  
                    <h3 class="my-0 h4">Nadjah Ríos Villarini</h3>
                    <p class="mt-0 mb-5">University of Puerto Rico</p>        
            </div>
        </div>
            <!-- <div class="col-12">
                    <div class="member one col-md-3">
                    </div>                    
                    <div class="member two col-md-3">
                    </div>                    
                    <div class="member three col-md-3">
                    </div>
                    <div class="member one col-md-3">
                    </div>                    
                    <div class="member two col-md-3">
                    </div>                    
                    <div class="member three col-md-3">
                    </div>
            </div>  -->
        <!--  /.row -->
    </div><!--  /.container -->
</section>
<!--  /.our-team -->