<!-- Team Block
================================================== -->
<section class="our-team pd-b-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if site.active_lang == 'en' %}
        <h3 class="section-title">Our Team</h3>
        {% elsif site.active_lang == 'es' %}
        <h3 class="section-title">Nuestro equipo</h3>
        {% endif %}
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->

    <div class="row text-center mt-5 justify-content-center">
      <div class="col-md-4 mb-2">
        <img
          class="shadow-lg p-1 mb-5 bg-light rounded-circle"
          alt="100x100"
          src="{{site.baseurl}}/assets/images/sesprit.jpg"
          data-holder-rendered="true"
        />
        <div style="line-height: 1rem">
          <h3 class="mt-0 mb-1">Schuyler Esprit</h3>
          {% if site.active_lang == 'en' %}
          <p class="m-0 h5">Co-Principal Investigator</p>
          {% elsif site.active_lang == 'es' %}
          <p class="m-0 h5">Investigadora co-principal</p>
          {% endif %}
          <p class="mt-0 mb-5">Create Caribbean</p>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <img
          class="shadow-lg p-1 mb-5 bg-light rounded-circle"
          alt="100x100"
          src="{{site.baseurl}}/assets/images/agil.jpg"
          data-holder-rendered="true"
        />
        <h3 class="my-0">Alex Gil</h3>
        {% if site.active_lang == 'en' %}
        <p class="m-0 h5">Co-Principal Investigator</p>
        {% elsif site.active_lang == 'es' %}
        <p class="m-0 h5">Investigador co-principal</p>
        {% endif %}
        <p class="mt-0 mb-5">Columbia University</p>
      </div>
      <div class="col-md-4 mb-2">
        <img
          class="shadow-lg p-1 mb-5 bg-light rounded-circle"
          alt="100x100"
          src="{{site.baseurl}}/assets/images/kglover.jpg"
          data-holder-rendered="true"
        />
        <h3 class="my-0">Kaiama L. Glover</h3>
        {% if site.active_lang == 'en' %}
        <p class="m-0 h5">Principal Investigator</p>
        {% elsif site.active_lang == 'es' %}
        <p class="m-0 h5">Investigatora principal</p>
        {% endif %}
        <p class="mt-0 mb-5">Barnard College</p>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-md-4 mb-2">
        <img
          class="shadow-lg p-1 mb-5 bg-light rounded-circle"
          alt="100x100"
          src="{{site.baseurl}}/assets/images/mgonzalez.jpg"
          data-holder-rendered="true"
        />
        <h3 class="my-0">Mirerza González Vélez</h3>
        {% if site.active_lang == 'en' %}
        <p class="m-0 h5">Co-Principal Investigator</p>
        <p class="mt-0 mb-5">University of Puerto Rico</p>
        {% elsif site.active_lang == 'es' %}
        <p class="m-0 h5">Investigadora co-principal</p>
        <p class="mt-0 mb-5">Universidad de Puerto Rico</p>
        {% endif %}
      </div>
      <div class="col-md-4 mb-2">
        <img
          class="shadow-lg p-1 mb-5 bg-light rounded-circle"
          alt="100x100"
          src="{{site.baseurl}}/assets/images/kbjosephs.jpg"
          data-holder-rendered="true"
        />
        <h3 class="my-0">Kelly Baker Josephs</h3>
        {% if site.active_lang == 'en' %}
        <p class="m-0 h5">Co-Principal Investigator</p>
        {% elsif site.active_lang == 'es' %}
        <p class="m-0 h5">Investigadora co-principal</p>
        {% endif %}
        <p class="mt-0 mb-5">University of Miami</p>
      </div>
      <div class="col-md-4 mb-2">
        <img
          class="shadow-lg p-1 mb-5 bg-light rounded-circle"
          alt="100x100"
          src="{{site.baseurl}}/assets/images/nrios.jpg"
          data-holder-rendered="true"
        />
        <h3 class="my-0">Nadjah Ríos Villarini</h3>
        {% if site.active_lang == 'en' %}
        <p class="m-0 h5">Co-Principal Investigator</p>
        <p class="mt-0 mb-5">University of Puerto Rico</p>
        {% elsif site.active_lang == 'es' %}
        <p class="m-0 h5">Investigadora co-principal</p>
        <p class="mt-0 mb-5">Universidad de Puerto Rico</p>
        {% endif %}
      </div>
      <div class="col-md-4 mb-2">
        <img
          class="shadow-lg p-1 mb-5 bg-light rounded-circle"
          alt="100x100"
          src="{{site.baseurl}}/assets/images/asoto.jpg"
          data-holder-rendered="true"
        />
        <h3 class="my-0">Andreína Soto</h3>
        {% if site.active_lang == 'en' %}
        <p class="m-0 h5">Grant Associate Director</p>
        <p class="mt-0 mb-5">Barnard College</p>
        {% elsif site.active_lang == 'es' %}
        <p class="m-0 h5">Directora Asociada</p>
        <p class="mt-0 mb-5">Barnard College</p>
        {% endif %}
      </div>
    </div>
  </div>
  <!--  /.container -->
</section>
<!--  /.our-team -->
